<p>products works!</p>
<div class="card">
    <div class="card-head">Lorem ipsum - products1</div>
    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem aspernatur doloremque
        veniam nostrum quidem non laboriosam consectetur consequatur ex libero labore quae pariatur inventore, expedita
        maxime! Quaerat, cum blanditiis.</div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - products2</div>
    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem aspernatur doloremque
        veniam nostrum quidem non laboriosam consectetur consequatur ex libero labore quae pariatur inventore, expedita
        maxime! Quaerat, cum blanditiis.</div>
</div>